.container-header{
    height: 70px;
    background-color: var(--cor-4);
    color: var(--cor-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 20px; */

}

.titulo{
    width: 100%;
    text-align: center;
}




