.principal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.elemento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}