<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h1>Demo</h1>
    <p>Este arquivo mostra um demo de como fazer um app simples com HTML + JS, usando prompt para entrada de dados e alert para saída.</p>

    <button onclick="somar()">Somador plus</button>
    <button onclick="subtrair()">Subtrator master</button>

    <script src="script.js"></script>
</body>
</html>